<div id="me_votecount" class="me_hidden">
	<form>
		<div class="wrapper">
			<div class="form">
				<nav>
					<ul id="me_vc_form_list">
						<li class="focused" data-section="general">General</li>
						<li data-section="players">Add Player</li>
					</ul>
				</nav>

				<div class="me_input_fields">
					<section data-section="general" class="form-section focused">
						<div>
							<label for="me_game_def">Import Definition File:</label>
							<input type="file" id="me_game_def" name="me_game_def" accept=".yaml,.yml" />
						</div>
						<div>
							<label for="me_start">Start from Post #</label>
							<input type="number" id="me_start" name="me_start" placeholder="Default = 0" />
						</div>
						<div>
							<label for="me_end">End at Post #</label>
							<input type="number" id="me_end" name="me_end" placeholder="Default = none" />
						</div>
					</section>

					<section data-section="players" class="form-section">
						<div>
							<label for="me_add_user_username">Username</label>
							<input type="text" id="me_add_user_username" name="me_add_user_username" placeholder="Username" />
						</div>
						<div>
							<label for="me_add_user_replacement">Replacing?</label>
							<input type="text" id="me_add_user_replacement" name="me_add_user_replacement" placeholder="Username of who they replaced (if any)" />
						</div>
						<div>
							<label for="me_add_user_death">Post Num of Player Death</label>
							<input type="number" id="me_add_user_death" name="me_add_user_death" placeholder="Leave blank if they are still alive" />
						</div>
						<div>
							<label for="me_add_user_aliases">Player Aliases, comma seperated</label>
							<input type="text" id="me_add_user_aliases" name="me_add_user_aliases" placeholder="Leave blank if they are still alive" />
						</div>

						<br />
						<button id="me_add_new_player" class="me_button">Add New Player</button>
					</section>
				</div>

				<div class="me_exit_button_wrapper"><span id="me_exit_vc_popup">❌</span></div>
			</div>

			<div class="submit-wrapper">
				<button class="me_button">Generate Votecount</button>
			</div>
		</div>

		<div id="me_spinner" class="me_hidden">
			<div class="ripple">
				<div></div>
				<div></div>
			</div>
		</div>

		<div id="me_vc_results" class="me_hidden">
			<p>To redo this form, refresh the page.</p>
			<textarea></textarea>
		</div>

		<textarea id="me_vc_data" name="me_vc_data" class="me_hidden"></textarea>
	</form>
</div>
