<div class="me-modal">
	<div class="header"><span class="exit">❌</span></div>
	<div class="mafia-engine-spinner">
		<div class="ripple">
			<div></div>
			<div></div>
		</div>
	</div>
	<form id="mafia-engine-form">
		<div>
			<div class="menu">
				<div class="selected">General</div>
				<div>Players</div>
			</div>
			<div class="form-content">
				<section>
					<span class="section-identifier">General</span>
					<label for="mafia-engine-yaml" class="required">Upload game definition file</label>
					<input type="file" id="mafia-engine-yaml" name="mafia-engine-yaml" accept=".yaml,.yml" />
					<label for="mafia-engine-start-post">Start From Post #</label>
					<input type="number" id="mafia-engine-start-post" name="mafia-engine-start-post" placeholder="Default = 0" />
					<label for="mafia-engine-end-post">End At Post #</label>
					<input type="number" id="mafia-engine-end-post" name="mafia-engine-end-post" placeholder="Default = none" />
				</section>

				<section>
					<span class="section-identifier">Players</span>
					<div>Add the list of ORIGINAL players, replacements are to be listed in the replacements tab</div>
					<label for="mafia-engine-end-post" class="text-red-500">Add New Player</label>
					<div class="inline-textfield">
						<input type="text" id="mafia-engine-" name="mafia-engine-end-post" placeholder="Default = none" />
						<button>Add Player</button>
					</div>

					<ul id="mafia-engine-player-list" class="grow">
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
						<li>
							<div class="player-name">Player Name</div>
							<div class="player-remove">❌</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<input type="submit" value="Generate Vote Count" />
	</form>
	<div class="response">
		<p>To redo this form, refresh the page.</p>
		<textarea></textarea>
	</div>
</div>
