.me_votecount {
	max-height: 512px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;

	&.me_hidden {
		max-height: 0;
	}

	> form {
		background-color: $primary-color;
		flex-grow: 1;
		margin: 1rem;
		border-radius: 15px;
		padding: 1rem;
		display: flex;
		flex-direction: row;

		> nav {
			border-right: 1px solid $primary-lighter;
			width: 256px;

			li {
				padding: 0.5rem;
				list-style: none;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;

				&:hover {
					cursor: pointer;
				}

				&.focused {
					background-color: $primary-lighter;
				}

				&.player {
					margin-left: 1rem;
				}
			}
		}

		> div {
			flex-grow: 1;
		}
	}
}
